<!--sign up -->
.form-elegant .font-small{
    font-size:0.8rem;
}

.form-elegant .z-depth-1a{
    -webkit-box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
    box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
}

.form-elegant .z-depth-1-half, .form-elegant .btn:hover{
    -webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
    box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
}

<!--login form-->
.form-dark .font-small{
    font-size: 0.8rem;
}

.form-dark[type="radio"]+label, .form-dark[type="checkbox"]+label{
    font-size: 0.8rem;
}

.form-dark[type="checkbox"] + label:before{
    top: 2px;
    width:15px;
    height:15px;
}

.form-dark .md-form  label{
    color:#fff;
}

.form-dark  input[type=email]:focus:not([readonly]){
    border-bottom:1px solid #00C851;
    -webkit-box-shadow: 0 1px 0 0 #00C851;
    box-shadow:0 1px 0 0 #00C851;
}

.form-dark input[type=email]:focus:not([readonly])+ label{
    color:#fff;
}

.form-dark  input[type=password]:focus:not([readonly]){
    border-bottom:1px solid #00C851;
    -webkit-box-shadow: 0 1px 0 0 #00C851;
    box-shadow:0 1px 0 0 #00C851;
}

.form-dark input[type=password]:focus:not([readonly])+ label{
    color:#fff;
}

.form-dark input[type="checkbox"] + label:before{
    content: '';
    position:absolute;
    top:0;
    left:0;
    width:17px;
    height:17px;
    z-index:0;
    border:1.5px solid #fff;
    border-radius: 1px;
    margin-top:2px;
    -webkit-transition:0.2s;
    transition:0.2s;
}

.form-dark input[type="checkbox"]:checked + label:before{
    top:-4px;
    left:-3px;
    width:12px;
    height:22px;
    border-style:solid;
    border-width:2px;
    border-color:transparent #00C851 #00C851 transparent;
    -webkit-transform:rotate(40deg);
    -ms-transform:rotate(40deg);
    transform:rotate(40deg);
    -webkit-backface-visibility:hidden;
    -webkit-transform-origin:100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin:100% 100%;
}

.form-dark .modal-header{
    border-bottom:none;
}

<!--intro section-->
html,
    body,
    header,
    .jarallax {
      height: 700px;
    }

    @media (max-width: 740px) {
      html,
      body,
      header,
      .jarallax {
        height: 100vh;
      }
    }

    @media (min-width: 800px) and (max-width: 850px) {
      html,
      body,
      header,
      .jarallax {
        height: 100vh;
      }
    }

    @media (min-width: 560px) and (max-width: 650px) {
      header .jarallax h1 {
        margin-bottom: .5rem !important;
      }
      header .jarallax h5 {
        margin-bottom: .5rem !important;
      }
    }

    @media (min-width: 660px) and (max-width: 700px) {
      header .jarallax h1 {
        margin-bottom: 1.5rem !important;
      }
      header .jarallax h5 {
        margin-bottom: 1.5rem !important;
      }
    }

    .top-nav-collapse {
      background-color: #1C2331 !important;
    }

   

    @media (max-width: 768px) {
      .navbar:not(.top-nav-collapse) {
        background: #1C2331 !important;
      }
    }
    @media (min-width: 800px) and (max-width: 850px) {
        .navbar:not(.top-nav-collapse) {
            background: #1C2331!important;
        }
    }

    footer.page-footer {
      background-color: #383838;
    }

    @media (max-width: 450px) {
      .display-3 {
        font-size: 3rem;
      }
    }

    
    .hr-light {
            border-top: 3px solid #fff;
            width: 80px;
        }